name: Get Unity License Activation File

on:
  workflow_dispatch: # Manual trigger only

jobs:
  request-license:
    name: Request Unity Activation File
    runs-on: ubuntu-latest
    steps:
      - name: Request manual activation file
        uses: game-ci/unity-request-activation-file@v2
        id: getActivationFile

      - name: Upload activation file
        uses: actions/upload-artifact@v4
        with:
          name: Unity_Activation_File
          path: ${{ steps.getActivationFile.outputs.filePath }}
